services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
    depends_on:
      - user-service
      - restaurant-service
      - order-service
    environment:
      USER_SERVICE_URL: "http://user-service:3001"
      RESTO_SERVICE_URL: "http://restaurant-service:3002"
      ORDER_SERVICE_URL: "http://order-service:3003"

  user-service:
    build: ./user-service
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    environment:
      MONGO_URI: "mongodb://mongo:27017/userDB"

  restaurant-service:
    build: ./restaurant-service
    ports:
      - "3002:3002"
    depends_on:
      - mongo
    environment:
      MONGO_URI: "mongodb://mongo:27017/restaurantDB"

  order-service:
    build: ./order-service
    ports:
      - "3003:3003"
    depends_on:
      - mongo
    environment:
      MONGO_URI: "mongodb://mongo:27017/orderDB"

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: